/* Highlight bibliography item when coming from a link. */
.bib:target {
   background-color: #e3e6e8;
}

.bigHr {
    // background-color: dimgrey !important;
    // color: dimgrey !important;
    // border: solid 5px dimgrey !important;
    border: solid 2px lightgrey !important;
    //height: 5px !important;
}

@font-face {
  font-family: "Olympus";
  src: url(/counting-pebbles/assets/fonts/OLYMRG.ttf);
}

.greekify {
  font-family: "Olympus", "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}
