/* Highlight bibliography item when coming from a link. */
.bib:target {
   background-color: #e3e6e8;
}

.bigHr {
    // background-color: dimgrey !important;
    // color: dimgrey !important;
    // border: solid 5px dimgrey !important;
    border: solid 2px lightgrey !important;
    //height: 5px !important;
}

@font-face {
  font-family: "Dalek";
  src: url(/counting-pebbles/assets/fonts/DALEK.ttf);
}

.greekify {
  font-family: "Dalek", "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #13131;
  letter-spacing: -.025rem;
}

@font-face {
  font-family: "Greek";
  src: url(/counting-pebbles/assets/fonts/EversonMono.ttf);
}

.gfs {
  font-family: "Greek", "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #13131;
  letter-spacing: -.025rem;
}

.center-image
{
    margin: 0 auto;
    display: block;
}